<div style="padding-top:40px;">

	<CENTER><h2>Thaynan Andrey Rocha Nunes</h2></CENTER>
	<br>
	<CENTER><img src="images/perfil.jpg" class="img-circle" align="middle" width=250px height=250px></CENTER>
	
	<br>
	
	<div class="panel panel-default">
		<div class="panel-heading">Perfil</div>
		<div class="panel-body">Email: thaynan.nunes@ccc.ufcg.edu.br</div>
		<div class="panel-body">Graduando em Ciência da Computação na Universidade Federal de Campina Grande</div>
		<div class="panel-body">Desenvolvedor Web e Mobile</div>
		<a href="https://github.com/ThaynanAndrey"><div class="panel-body">github</div></a>
	</div>

</div>
